## Interpolação Nelson-Siegel-Svensson

In [2]:
from nelson_siegel_svensson import NelsonSiegelSvenssonCurve
from nelson_siegel_svensson.calibrate import calibrate_nss_ols
import pandas as pd 
import numpy as np 
from matplotlib.pyplot import plot

In [6]:
path = '/home/nascimento/Documents/USP/Monografia/Data/Raw'
df = pd.read_csv(path + '/pre.csv', index_col = 0)

In [7]:
df

,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,12969.0,12970.0,12971.0,12972.0,12975.0,12976.0,12977.0,12978.0,12979.0,12982.0
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-28,NaN,NaN,8.34,9.67,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-01-31,42.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-02-01,-11.53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-02-02,9.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-02-03,9.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-04-15,10.65,7.3,NaN,5.67,NaN,NaN,5.34,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-16,10.65,NaN,4.38,NaN,NaN,NaN,3.17,NaN,NaN,2.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-17,10.65,7.0,NaN,NaN,NaN,NaN,4.87,NaN,4.47,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-18,10.65,NaN,NaN,NaN,NaN,NaN,10.66,10.66,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2024-04-19,NaN,NaN,10.65,NaN,NaN,NaN,10.66,NaN,NaN,10.66,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
curve, status = calibrate_nss_ols(np.array(df.iloc[-1].dropna())/100, np.array(df.iloc[-1].dropna().index.astype('float64'))/360, tau0 = (1.0,1.0))

In [72]:
b0 = curve.__dict__['beta0']
b1 = curve.__dict__['beta1']
b2 = curve.__dict__['beta2']
b3 = curve.__dict__['beta3']
tau1 = curve.__dict__['tau1']
tau2 = curve.__dict__['tau2']


## como construir a curva a partir do que temos? seguir código do trabalho.

In [73]:
a = b0 + (b1 * (1 - np.exp(-n / tau1)) / (n / tau1)) +  (b2 * ((1 - np.exp(-n/tau1))/(n/tau1) - np.exp(-n/tau1))) + b3 * ((1 - np.exp(-n/tau2))/(n/tau2) - np.exp(-n/tau2))

NameError: name 'n' is not defined

In [39]:
df.iloc[-1].dropna().index.astype('float64')

Index([0.008333333333333333, 0.019444444444444445, 0.027777777777777776,
       0.030555555555555555,  0.03611111111111111,  0.03888888888888889,
       0.058333333333333334,  0.07222222222222222,  0.07777777777777778,
        0.08611111111111111,
       ...
          23.66111111111111,   24.183333333333334,   24.683333333333334,
                       25.0,    25.18888888888889,   25.694444444444443,
          26.20277777777778,   26.705555555555556,                 30.0,
          31.52777777777778],
      dtype='float64', length=262)